.footer {
  width: 100vw;
  height: 125px;
  background-color: #223440;
  opacity: 0.75;
  font-family: "Andika", sans-serif;
}


.inner {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .copyright {
    font-size: 16px;
    line-height: 20px;
    color: #BACBD9;
  }

  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
  }

  .item {
    color: #D1D5DB;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    span {
      color: #BACBD9;
    }

    & a {
      text-decoration: none;
      color: #BACBD9;

      &:hover {
        border-bottom: 1px solid #848484;
      }
    }
  }

}

